/* :root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2);
} */

:root {
  --primaryColor: #5fb7ea;
  --primaryRGBA: rgba(0, 0, 0, 0.3);
  --mainGrey: #fafafa;
  --darkGrey: #5f5e5e;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainTransition: all 0.3s ease-in-out;
  --mainSpacing: 0.3rem;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5% !important;
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
}

.text-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}

.text-main {
  color: var(--primaryColor);
}
